<div class="container text-center">
  <div class="row">
    <div class="col">
      <h4> Как играть в  «Быки и коровы»:</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>1. Компьютер загадывает тайное 4-значное число с неповторяющимися цифрами.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
       <h4>2.Игрок делает первую попытку отгадать число.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>3.Компьютер сообщает в ответ, сколько цифр угадано без совпадения с их позициями в тайном числе
                (то есть количество коров) и сколько угадано вплоть до позиции в тайном числе (то есть количество быков).</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <h4>4.Игрок продолжает угадывать тайное число.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
       <h4>Всего на разгадку числа дается 20 попыток. Победа дается если не исчерпать этот лимит. Чем быстрее число будет отгадано, тем больше очков рейтинга будет дано.</h4>
    </div>
  </div>
</div>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}"><h1>Я прочитал, и хочу вернуться в меню</h1></a>
  </li>
</ul>