<div class="container text-center">
  <div class="row">
    <h4>Прошлые попытки:</h4>
    <div class="col">
      <h5>{{request.user.try_1}}</h5>
      <h5>{{request.user.try_3}}</h5>
      <h5>{{request.user.try_5}}</h5>
      <h5>{{request.user.try_7}}</h5>
      <h5>{{request.user.try_9}}</h5>
      <h5>{{request.user.try_11}}</h5>
      <h5>{{request.user.try_13}}</h5>
      <h5>{{request.user.try_15}}</h5>
      <h5>{{request.user.try_17}}</h5>
      <h5>{{request.user.try_19}}</h5>
    </div>
    <div class="col">
      <h5>{{request.user.try_2}}</h5>
      <h5>{{request.user.try_4}}</h5>
      <h5>{{request.user.try_6}}</h5>
      <h5>{{request.user.try_8}}</h5>
      <h5>{{request.user.try_10}}</h5>
      <h5>{{request.user.try_12}}</h5>
      <h5>{{request.user.try_14}}</h5>
      <h5>{{request.user.try_16}}</h5>
      <h5>{{request.user.try_18}}</h5>
      <h5>{{request.user.try_20}}</h5>
    </div>
</div>
</div>